#etchBoard{
    display: flex;
    height: 500px;
    width: 500px;
    border: black;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    flex-grow: 1;
}
.cell{
    display: flex;
    border: 1px solid black;
    flex-grow: 1;
}